
ConsoleApp1/obj/Debug/net5.0/ref/ConsoleApp1.dll
ConsoleApp1/obj/Debug/net5.0/ConsoleApp1.genruntimeconfig.cache
ConsoleApp1/obj/Debug/net5.0/ConsoleApp1.GeneratedMSBuildEditorConfig.editorconfig
ConsoleApp1/obj/Debug/net5.0/ConsoleApp1.dll
ConsoleApp1/obj/Debug/net5.0/ConsoleApp1.csproj.AssemblyReference.cache
ConsoleApp1/obj/Debug/net5.0/ConsoleApp1.csproj.CoreCompileInputs.cache
ConsoleApp1/obj/Debug/net5.0/ConsoleApp1.csproj.FileListAbsolute.txt
.gitattributes
ConsoleApp1/.vs/ConsoleApp1/v16/.suo
